<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeuroSight</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/574e5b8318e53b92bdb78209bd03fc72?family=Dynamo+W04+Bold+Condensed"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: Norwester;
        src: url("{{ url_for('static', filename='fonts/norwester.otf') }}");
      }
    </style>
  </head>
  <body
    class="bg-cover bg-center"
    background="{{ url_for('static', filename='img/bg.jpg') }}"
  >
    <!-- Overlay with Blur Effect -->
    <div
      class="bg-gray-800 bg-opacity-40 h-screen flex items-center justify-center backdrop-filter backdrop-blur-md"
    >
      <!-- Main Container -->
      <div
        class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 w-full px-6 py-8"
      >
        <!-- Left Section: Title -->
        <div class="text-center md:text-left mb-4 md:mb-0">
          <h1
            class="text-9xl font-extrabold text-yellow-500 tracking-wide"
            style="font-family: Dynamo W04 Bold Condensed"
          >
            NeuroSight
          </h1>
          <a href="{{ url_for('upload') }}">
            <button
              class="mt-4 px-4 py-2 bg-gray-700 text-yellow-500 font-semibold rounded-full hover:bg-yellow-500 hover:text-gray-700 transition font-extrabold tracking-wider text-2xl"
              style="font-family: Dynamo W04 Bold Condensed"
            >
              Try It Now!
            </button>
          </a>
        </div>

        <!-- Right Section: Description (Touching Screen Edge & Vertically Stretched) -->
        <div
          class="bg-gray-700 bg-opacity-60 p-6 h-full md:w-1/3 ml-auto text-white"
        >
          <h2
            class="text-6xl font-bold text-blue-300 mb-2 uppercase"
            style="font-family: Dynamo W04 Bold Condensed"
          >
            all about brain tumors
          </h2>
          <p class="text-xl uppercase" style="font-family: Norwester">
            Our advanced Convolutional Neural Network (CNN) is designed to
            assist in the early identification and classification of potential
            brain tumors. Trained on a vast dataset of brain scans and images,
            this technology offers the potential to improve diagnostic accuracy
            and enable timely intervention.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
